/* GRADIEND */
.ap {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  margin: auto;
  user-select: none;
  color: #333;
  background: rgb(194, 48, 48);
  border-top: 50px solid #f0f;
  z-index: 9999;
}

/*END*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("280247631_490399796174125_6882678655106843732_n.png");
  background-color: #333;
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
  color: white;
  text-transform: uppercase;
}

.wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 0, 0);
  animation: 2000s credits linear;
}

.movie {
  margin-bottom: 50px;
  font-size: 50px;
}

.status {
  text-align: center;
  font-size: 42px;
  margin-bottom: 8rem;
}

.name {
  text-align: center;
  margin-bottom: 0rem;
  font-size: 64px;
}

@keyframes credits {
  0% {
    top: 100%;
  }

  100% {
    top: -38960%;
  }
}
